body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f3542d, #feb47b);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin-bottom: 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input{
    width: 578px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #003cff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #302188;
}

button:active{
    background-color: #003cff;
}

.task-card {
    background: #3b3b3b;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.task-card button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    max-width: 100px;
}

.task-card button.edit {
    background-color: #007bff; /* Blue for edit button */
}

.task-card button:hover {
    opacity: 0.8;
}
